<div id="page-wrapper">

  <div class="banner">
    <img src="./assets/images/logo_large.png" class="logo">
  </div>

  <!-- Nav -->
  <nav id="navBar">
    <ul>
      <li class="current"><a href="index.html">Inicio</a></li>
      <li><a href="#footer">Contacto</a></li>
      <li><a [href]="url_login">Ingresar</a></li>
      <li><a [href]="url_registro">Registrarme</a></li>
    </ul>
  </nav>

  <!-- Header -->
  <section id="header" style="padding: 0px !important;">

    <!-- Intro -->
    <section id="intro" class="container">
      <br>
      <div class="row">
        <div class="col-4 col-12-medium">
          <section class="first">
            <div align="center">
              <ng-lottie width="250px"
                         height="200px"
                         containerClass="moving-box"
                         [options]="options">
              </ng-lottie>
            </div>
            <br>
            <header>
              <h2>Elegí complejo</h2>
            </header>
            <p>Tenemos un catalogo amplio de complejos para que juegues donde más cómodo te quede.</p>
          </section>
        </div>
        <div class="col-4 col-12-medium">
          <section class="middle">
            <div align="center">
              <ng-lottie width="200px"
                         height="150px"
                         containerClass="moving-box"
                         [options]="options1">
              </ng-lottie>
            </div>
            <br>
            <header>
              <h2>Cancha</h2>
            </header>
            <p>Según el complejo podes elegir jugar en cancha de fútbol 5, fútbol 8 o fútbol 11.</p>
          </section>
        </div>
        <div class="col-4 col-12-medium">
          <section class="last">
            <div align="center">
              <ng-lottie width="210px"
                         height="200px"
                         containerClass="moving-box"
                         [options]="options2">
              </ng-lottie>
            </div>
            <br>
            <header>
              <h2>Día y hora</h2>
            </header>
            <p>Seleccioná una fecha y verás la disponibilidad de turnos en el día.</p>
          </section>
        </div>
      </div>
      <footer>
        <ul class="actions">
          <li><a href="#" class="button large">Reservar ahora!</a></li>
        </ul>
      </footer>
    </section>

  </section>

  <!-- Main -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Portfolio -->
          <section>
            <header class="major">
              <h2>Te ofrecemos</h2>
            </header>
            <div class="row">
              <div class="col-4 col-6-medium col-12-small">
                <section class="box">
                  <img style="display: block; margin: auto; height: 200px; width: 250px;"
                       src="./assets/images/online-payment.png" alt=""/>
                  <header>
                    <h3>Reserva online</h3>
                  </header>
                  <p>Reservá una cancha desde cualquier dispositivo sin moverte de tu casa.
                    Además podés gestionar tus reservas modificando la cancha u horario que seleccionaste,
                    o incluso cancelarla con anticipación.</p>
                </section>
              </div>
              <div class="col-4 col-6-medium col-12-small">
                <section class="box">
                  <img style="display: block; margin: auto; height: 200px; width: 250px;"
                       src="./assets/images/pago_electronico.png" alt=""/>
                  <header>
                    <h3>Pago electrónico</h3>
                  </header>
                  <p>Para que finalices la reserva de tu cancha debes elegir entre los distintos medios de pago que te
                    ofrece Mercado Pago. Pagá tu reserva con tarjeta de débito, crédito o a través de la App. </p>
                </section>
              </div>
              <div class="col-4 col-6-medium col-12-small">
                <section class="box">
                  <img style="display: block; margin: auto; height: 200px; width: 250px;"
                       src="./assets/images/error-in-calendar.png" alt=""/>
                  <header>
                    <h3>Turno fijo</h3>
                  </header>
                  <p>También tenés la opción para reservar un turno fijo en el complejo que te quede más cómodo.
                    Seleccioná el día,
                    horario y cancha en la que querés jugar y te lo agendamos todas las semanas.</p>
                </section>
              </div>
            </div>
          </section>

        </div>
        <div class="col-12">

          <!-- Blog -->
          <section>
            <header class="major">
              <h2>Complejos destacados</h2>
            </header>
            <div class="row">
              <div class="col-6 col-12-small">
                <section class="box">
                  <header>
                    <h3 align="center">El Chañar</h3>
                    <br>
                    <img style="display: block; margin: auto; height: 100%; width: 100%;"
                         src="./assets/images/banner_01.jpg" alt=""/>
                    <!--<p>Posted 45 minutes ago</p>-->
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit
                    adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat</p>
                  <footer>
                    <ul class="actions">
                      <li><a [href]="url_login" class="button icon solid fa-search">Ver disponibilidad</a>
                      </li>
                    </ul>
                  </footer>
                </section>
              </div>
              <div class="col-6 col-12-small">
                <section class="box">
                  <header>
                    <h3 align="center">Las Chapas</h3>
                    <br>
                    <img style="display: block; margin: auto; height: 100%; width: 100%;"
                         src="./assets/images/banner_02.jpg" alt=""/>
                    <!--<p>Posted 45 minutes ago</p>-->
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit
                    adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat</p>
                  <footer>
                    <ul class="actions">
                      <li><a [href]="url_login" class="button icon solid fa-search">Ver disponibilidad</a>
                      </li>
                    </ul>
                  </footer>
                </section>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-8 col-12-medium">
          <section>
            <header>
              <h2>Principales auspiciantes</h2>
            </header>
            <ul class="dates">
              <li>
                <span class="date"></span>
                <h3><a href="#">La previa - bar de bebidas</a></h3>
                <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
              </li>
              <li>
                <span class="date"></span>
                <h3><a href="#">Maratón - Venta de indumentaria</a></h3>
                <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
              </li>
            </ul>
          </section>
        </div>
        <div class="col-4 col-12-medium">
          <section>
            <div class="col-4 col-12-medium">
              <section>
                <header>
                  <h2>Seguinos en nuestras redes</h2>
                </header>
                <ul class="social">
                  <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                  <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                  <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                </ul>
                <ul class="contact">
                  <li>
                    <h3>E-Mail</h3>
                    <p>delcorrog&#64;gmail.com</p>
                  </li>
                  <li>
                    <h3>Teléfono</h3>
                    <p>(385) 4043463</p>
                  </li>
                </ul>
              </section>
            </div>
          </section>
        </div>

        <div class="col-12">
          <!-- Copyright -->
          <div id="copyright">
            <ul class="links">
              <li>&copy; Se Juega Santiago - 2021. Todos los derechos reservados</li>
              <li>Powered by: Gonzalo del Corro</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
